.header-box{
    height: 18vmax;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: orange;
}
.header-logo{
    margin: 10px;
    display: flex;
    width: 25vmax;
    height: 15vmax;

}
.header-login{
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 10vh;
    border: orangered solid 3px;
    font-size: 18pt;
    margin: 5px;
}
app-nav{
    width: 350vmin;
    height: 50vmax;
    display: flex;
    justify-content: space-around;
}