.bird-card-box{
    width: 30vw;
    margin: 25px;
    background-color: rgb(191, 133, 231);
    display: block;
    justify-content: center;
    text-align: left;
}
img{
    width: 25vw;
    margin: 20px;
}
h2{
    display: inline;
}
h3{
    margin: 3px;
}
