.birdsPanel{
    display: flex;
    flex-direction: column;
    /* background-color: skyblue; */
    background-image: url('https://previews.123rf.com/images/burnyipotok/burnyipotok1602/burnyipotok160200015/54160392-many-birds-gulls-in-the-rays-of-the-sun-at-sunset-on-a-background-of-sky-and-sea-with-the-waves-beau.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    
}
.birdPanelWelcome{
    text-align: center;
    color: rgb(231, 8, 194);
}
.birdPanelBottom{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
li{
    font-size: 18pt;
}
h4{
    font-size: 25pt;
    margin: 15px;
}
