.nav-box{
    border: springgreen solid 3px;
    width: 33vw;
    margin: 15px;
    display: flex;
    justify-content:center;
    align-items: center;   
}
ul{
    width: 30vw;
    margin: 15px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    margin: 5px;
    width: auto;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size-adjust: none;
    font-weight: bolder;
    font-size: larger;
}

li:hover {
    color: blue;
    text-decoration: blue underline;
    cursor: pointer;
}